{% extends "default.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}



{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h1>Add a review!</h1>
    <!-- <p>{{ submit }}</p> -->
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <form action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="large-3 columns">
          {{ form }}
          </div>
      </div>
      <div class="row">
        <div class="large-9 columns">
          <input type="submit" value="Submit" class="button">
        </div>
      </div>
    </form>
  </div>
  <div class="large-12 columns">
    <h2>Current List of reviews</h2>
    <ul>
    {% for element in content %}
    <li>{{ element.ProductName }}</li>
    <l1> {{ element.ReviewScore }}</l1>
    {% endfor %}
    </ul>

  </div>
</div>
{% endblock %}
