<!DOCTYPE html>
<html>
  <head>
  <title>{% block title %}{% endblock %} </title>
  {% block head %}
  {% endblock %}
  </head>
  <body>
  <div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Water!</li>
     <li><a href="/">Home</a></li>
      <li><a href="/addproduct">Add Products</a></li>
      <li><a href="/top10">Top 10 Waters</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/addReview">Add Reviews</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          {% if user.is_authenticated %}
          <li>Account: <b>{{request.user.username}}<b></li>
          <li><a href="/logout/">Logout</a></li>
          {% else %}
          <li><a href="/login/">Log In</a></li>
          {% endif %}
        </ul>
      </div>
</div>
    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
