{% extends "base.html" %}
{% load static %}


{% block head %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "css/foundation.css" %}">
<link rel="stylesheet" href="{% static "css/app.css" %}">
<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/jquery.hideseek.min.js" %}"></script>
<script type="text/javascript" src= {% static "js/jquery.tablesorter.js" %}></script>
<link rel="stylesheet" href="{% static "css/theme.blue.css" %}">
<link rel="stylesheet" href="{% static "css/jq.css" %}">
<script src="{% static "js/jquery-ui.min.js" %}"></script>
<link rel="ui-theme" href="{% static "css/jquery-ui.min.css" %}">
<script src="{% static "js/jquery.tablesorter.widgets.js" %}"></script>
<script src="{% static "js/widgets/widget-storage.js" %}"></script>
<script src="{% static "js/widgets/widget-filter.js" %}"></script>

{% endblock %}



{% block scripts %}
<script src="{% static "js/vendor/what-input.js" %}"></script>
<script src="{% static "js/vendor/foundation.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
{% endblock %}
