{% extends "home.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

	<script id="js">$(function() {
    // Table sort code used: https://mottie.github.io/tablesorter/
	// initial sort set using sortList option
	$("#prodTable").tablesorter({
		theme: 'blue',
        widgets: ["zebra", "filter"],
        widgetOptions : {
          // filter_anyMatch replaced! Instead use the filter_external option
          // Set to use a jQuery selector (or jQuery object) pointing to the
          // external filter (column specific or any match)
          filter_external : '.search',
          // add a default type search to the first name column
          filter_defaultFilter: { 1 : '~{query}' },
          // include column filters
          filter_columnFilters: true,
          filter_placeholder: { search : 'Search...' },
          filter_saveFilters : true,
          filter_reset: '.reset'
        }
      });

      // make demo search buttons work
      $('button[data-column]').on('click', function(){
        var $this = $(this),
          totalColumns = $table[0].config.columns,
          col = $this.data('column'), // zero-based index or "all"
          filter = [];

        // text to add to filter
        filter[ col === 'all' ? totalColumns : col ] = $this.text();
        $table.trigger('search', [ filter ]);
        return false;
      });

    });

    </script>

    <table id="prodTable" class="tablesorter">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Product Category</th>
        <th>Product Ranking Score</th>
        <th>Number of Reviews</th>
    </tr>
    </thead>
    <tbody>
{% for element in content %}
    <tr>
    <div id="{{ element.ProductName }}">
            <td> {{ element.ProductName }}</td>
            <td> {{ element.ProductCategory }}</td>
            <td> {{ element.ProductTotalScore }}</td>
            <td> {{ element.NumberofReviews }}</td>
    </div>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
</body>
</html>
</body>
</html>